<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CusCus</title>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
</head>
<body>
        <script src="script.js"></script>
        <section id="messages" hx-get="/chat/" hx-trigger="load" hx-swap="innerHTML" hx-vals='{"lastmsgid": "0"}' hx-on::after-request="changeLastMsg()">Wait...</section>
        <form method="POST" hx-post="/post/" hx-swap="none" hx-vals='js:{"username": username, "pwd": pwd}'>
            <input name="text" type="text"></input>
            <button type="submit">Send</button>
        </form>
        <button type="submit" hx-get="/chat" hx-trigger="click" hx-target="#messages" hx-swap="afterbegin" hx-on::after-request="changeLastMsg()" hx-vals='js:{"lastmsgid": lastMsg}'>Load</button>
</body>
</html>
