<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CusCus</title>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
</head>
<body>
        <p id="messages" hx-get="/chat" hx-trigger="load" hx-swap="innerHTML">Wait...</p>

        <form method="POST" hx-post="/chat" hx-swap="none">
            <input name="message" type="text"></input>
            <button type="submit">Send</button>
        </form>
        <button type="submit" hx-get="/chat" hx-trigger="click" hx-target="#messages" hx-swap="innerHTML">Load</button>
</body>
</html>
